.error-page {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.not-found {
  text-align: left;
  font-size: 50px;
  margin: 0;
  margin-bottom: 0.5rem;
}
.suffix {
  text-align: left;
  font-size: 20px;
}
.description {
  text-align: left;
  font-size: 15px;
  margin: 0 0 1rem 0.5rem;
}
.cry-face {
  text-align: center;
  font-size: 30px;
  margin: 1rem 0 0;
}
.image-container {
  position: relative;
}
.animate-img {
  position: relative;
  width: 100%;
  max-width: 15rem;
  min-width: 10rem;
}
.return-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.return-arrow {
  display: inline-block;
  font-size: 15px;
  text-align: left;
}
.return-link {
  display: inline-block;
  /* text-decoration: none; */
  color: #e4e4e4;
  text-align: left;
  font-size: 20px;
}
.light {
  color: black;
}
.dark {
  color: #e4e4e4;
}

@media (min-width: 768px) {
  .error-page {
    padding: 0 3rem 0 7rem;
  }
  .not-found {
    font-size: 70px;
  }

  .suffix {
    font-size: 20px;
  }
  .description {
    font-size: 10px;
  }
  .cry-face {
    font-size: 50px;
  }
  .animate-img {
    max-width: 40rem;
    min-width: 15rem;
  }
}
