.title-img {
  width: 100%;
}

.interval-line {
  border: 2px solid white;
}

.container {
  min-height: 100vh;
  padding-bottom: 4rem;
  position: relative;
}
.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  font-size: 30px;
  margin: 0;
  outline: none;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.search-light {
  color: black;
}
.search-dark {
  color: #e4e4e4;
}

.not-find{
  margin-top: 25%;
}