.wrapper {
  align-items: center;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  color: black;
  display: flex;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  height: 27px;
  justify-content: center;
  margin: 0 4px;
  outline-color: transparent;
  padding: 0 5px;
  text-transform: capitalize;
  transition: all 250ms ease-in-out;
}
.wrapper:focus{
  border-color: transparent;
}
.dropdownoption-default {
  border: none;
  min-height: 25px;
}
