.nav-link {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-right: 2px solid white;
  display: flex;
  align-items: flex-end;
}

.nav-link a {
  display: inline-block;
  color: #292929;
  text-decoration: none;
  padding: 3px;
}

.nav-link a:hover,
.nav-link a:active,
.nav-link a.active {
  padding-bottom: 1px;
  border-bottom: 2px solid white;
}

.nav-link button {
  cursor: pointer;
  border: 1px solid transparent;
  color: #292929;
  background-color: transparent;
  font: inherit;
}

.nav-link button:focus {
  outline: none;
}

.nav-link button:hover,
.nav-link button:active {
  /* background: #292929;
  border: 1px solid #292929; */
  color: white;
}

.nav-icon {
  bottom: 0;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
  .nav-link {
    margin: 0 0.2rem;
  }

  .nav-link a {
    color: white;
  }

  .nav-link button {
    color: white;
  }

  .nav-link button:hover,
  .nav-link button:active {
    padding-bottom: 1px;
    border-bottom: 2px solid white;
  }
}
