.navigation__title {
  display: flex;
  align-items: flex-end;
}

.navigation__icon {
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 0.25rem;
}

.navigation__icon a {
  color: white;
  text-decoration: none;
}

.navigation__pc__nav-items {
  display: none;
}

.navigation__search {
  margin-right: 0rem;
}

.navigation__search-input {
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.navigation__theme {
  margin-top: 0.5rem;
}

.navigation__pc__language {
  cursor: pointer;
  background: transparent;
  font: inherit;
  margin: 0 1.25rem 0.5rem;
}


@media (min-width: 768px) {
  .navigation__icon {
    margin-bottom: 0;
  }

  .navigation__pc__nav-items {
    display: block;
  }
}
