.nav-link {
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: flex-end;
}

.nav-link-light {
  border-right: 2px solid white;
}
.nav-link-dark {
  border-right: 2px solid #e4e4e4;
}
.nav-link a {
  display: inline-block;
  color: #292929;
  text-decoration: none;
  padding: 3px;
}

.nav-link a:hover,
.nav-link a:active,
.nav-link a.active {
  padding-bottom: 1px;
}
.nav-link-light a:hover,
.nav-link-light a:active,
.nav-link-light a.active {
  border-bottom: 2px solid white;
}
.nav-link-dark a:hover,
.nav-link-dark a:active,
.nav-link-dark a.active {
  border-bottom: 2px solid #e4e4e4;
}
.nav-link button {
  cursor: pointer;
  border: 1px solid transparent;
  color: #292929;
  background-color: transparent;
  font: inherit;
}

.nav-link button:focus {
  outline: none;
}

.nav-link-light button:hover,
.nav-link-light button:active {
  color: white;
}
.nav-link-dark button:hover,
.nav-link-dark button:active {
  color: #e4e4e4;
}
.nav-icon {
  bottom: 0;
  padding-bottom: 3px;
}

@media (min-width: 768px) {
  .nav-link {
    margin: 0 0.2rem;
  }

  .nav-link-light a {
    color: white;
  }

  .nav-link-dark a {
    color: #e4e4e4;
  }

  .nav-link-light button {
    color: white;
  }
  .nav-link-dark button {
    color: #e4e4e4;
  }
  .nav-link {
    padding-bottom: 1px;
  }
  .nav-link-light button:hover,
  .nav-link-light button:active {
    border-bottom: 2px solid white;
  }
  .nav-link button:hover,
  .nav-link button:active {
    border-bottom: 2px solid #e4e4e4;
  }
}
