li.nav-link {
  margin: 1rem;
}

.nav-link a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

li.nav-link a:hover,
li.nav-link a:active,
li.nav-link a.active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
}

li.nav-link button {
  cursor: pointer;
  border: 1px solid transparent;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

li.nav-link button:focus {
  outline: none;
}

li.nav-link button:hover,
li.nav-link button:active {
  background: #292929;
  border: 1px solid #292929;
  color: white;
}

@media (min-width: 768px) {
  li.nav-link {
    margin: 0 0.2rem;
  }

  li.nav-link a {
    color: white;
    text-decoration: none;
  }

  li.nav-link button {
    color: white;
    background: transparent;
  }

  li.nav-link button:hover,
  li.nav-link button:active {
    background: #f8df00;
    color: #292929;
  }
}
