.main-header {
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  color: white;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.light{
  background-color: #ff0055;
}

.dark{
  background-color: black;
}

.main-header-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 768px) {

  .main-header-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 5px;
    padding-right: 5px;
  }
}