.nav-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-icon {
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }
}

