.wrapper {
  position: relative;
}

.icon {
  height: 1.7rem;
  width: 1.5rem;
  padding: 3px;
  position: absolute;
  box-sizing: border-box;
  right: 2px;
}

.input {
  height: 1.8rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  border-radius: 4px;
  outline: none;
  border-color: pink;
}
