.icon {
  padding: 3px;
  position: absolute;
  box-sizing: border-box;
  color: #ababab;
}

.input-icon-search {
  height: 1.7rem;
  width: 1.5rem;
  right: 10px;
}

.input-icon-cross {
  right: 30px;
  height: 22px;
  width: 24px;
}

.input {
  height: 32px;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 0.75rem;
  outline: none;
  width: 3rem;
}

.input-show {
  width: 10rem;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-light {
  color: #6b6b6b;
}

.icon-dark {
  color: #ababab;
}

.light {
  border-color: pink;
  background-color: white;
  caret-color: black;
  color: white;
}

.dark {
  border-color: white;
  background-color: #232323;
  caret-color: #ababab;
  color: white;
}
