.theme {
  align-items: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.6rem;
}

.light{
  background-color: white;
  border: 2px solid #9b9b9b;
  color: #6b6b6b;
}

.dark{
  background-color: #232323;
  border: 2px solid #ebebeb;
  color: #ababab;
}

.icon {
  margin-right: 0.5rem;
}
.icon-light {
  color: #F49D1A;
}