.hamburger {
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hamburger span {
  background-color: white;
  border-radius: 1px;
  display: block;
  height: 3px;
  width: 3rem;
}

.dark{
  background-color: #1E1E1E;
}

.light{
  background-color: #d8678d;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
