.container {
  height: 100vh;
}

.rotating-ring {
  display: inline-block;
  height: 64px;
  width: 64px;
}

.rotating-ring:after {
  content: " ";
  display: block;
  height: 46px;
  margin: 1px;
  width: 46px;
}

.overlay {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.img {
  max-height: 30rem;
  max-width: 30rem;
}
.small-img {
  max-height: 20rem;
  max-width: 20rem;
}
.dark {
  animation: rotating-ring 1.2s linear infinite;
  border: 5px solid #e4e4e4;
  border-color: #e4e4e4 transparent #e4e4e4 transparent;
  border-radius: 50%;
}

.light {
  animation: rotating-ring 1.2s linear infinite;
  border: 5px solid #510077;
  border-color: #510077 transparent #510077 transparent;
  border-radius: 50%;
}

@keyframes rotating-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
