.position {
  top: 25%;
  right: 0;
}
.map-container {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
}

.transparent {
  opacity: 0.2;
  background-color: transparent;
}

.map-1024 {
  height: 4rem;
  width: 4rem;
}
.map-768 {
  height: 3.5rem;
  width: 3.5rem;
}
.map-container img {
  height: 100%;
  width: 100%;
  user-select: none;
}

.show-container {
  width: 20rem;
  height: 20rem;
}

.map-container:hover {
  opacity: 1;
}
