.search-container {
  align-items: center;
  display: flex;
  position: relative;
}

.icon {
  box-sizing: border-box;
  color: #ababab;
  padding: 3px;
  position: absolute;
}

.input-icon-search {
  height: 1.7rem;
  right: 10px;
  width: 1.5rem;
}

.input-icon-cross {
  height: 22px;
  right: 30px;
  width: 24px;
}

.input {
  border-radius: 20px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  padding-left: 0.75rem;

}


.icon-light {
  color: #6b6b6b;
}

.icon-dark {
  color: #ababab;
}

.light {
  background-color: white;
  border-color: pink;
  caret-color: black;
  color: black;
}

.dark {
  background-color: #232323;
  border-color: #e4e4e4;
  caret-color: #ababab;
  color: #e4e4e4;
}

.input-hide {
  caret-color: transparent;
  width: 3rem;
}
