.side-drawer {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 100;
  }
  
  .slide-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1000ms;
  }

  .slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-exit-active {
    opacity: 1;
    transform: translateX(-100%);
    transition: all 500ms;
  }
  