.tooltip-container {
  /* background: #fff; */
  border: 1px solid #ddd;
  border-radius: 2px;
  bottom: calc(100% + 0.5rem);
  box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}
.tooltip-enter {
  height: 0;
  width: 0;
}
.tooltip-enter-active {
  height: 150px;
  transition: all 500ms;
  width: 300px;
}
.tooltip-enter-done {
  height: 150px;
  width: 300px;
}
.tooltip-exit {
  height: 150px;
  width: 300px;
}
.tooltip-exit-active {
  height: 0;
  transition: all 500ms;
  width: 0;
}
.tooltip-exit-done {
  height: 0;
  width: 0;
}
