.info-container {
  margin: 1rem 0;
}

.info-content {
  margin: 0 1rem;
}

.info-content h1 {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.info-content p {
  display: inline;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.description-container {
  display: flex;
}

.description-container img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.info-container:hover {
  margin: 1.25rem -0.25rem;
  padding: 1.25rem;
}

.light-blue {
  background-color: #effafa;
}
.light-green {
  background-color: #fafaef;
}