.container {
  cursor: default;
  height: 100%;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100%;
}
.container-light {
  background-color: #fc94af;
}
.tag-input {
  border: none;
  font-size: 10px;
  margin: 0;
  outline: none;
  padding: 0.25rem 1rem 0.1rem;
  width: 100%;
}
.input-light {
  background-color: #fc94af;
  color: white;
}
.input-dark::placeholder {
  color: #ababab;
}
.input-light::placeholder {
  color: white;
}
.tag-hr {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}
.tags-container {
  cursor: default;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}
.tags-light {
  background-color: #fff;
}
.tags-dark {
  background-color: #444;
}
