.section {
  min-height: 4rem;
}
.toggle {
  font-size: 25px;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
.title-hr {
  border-color: black;
  margin: 0.5rem 0 1rem;
}
.dark {
  background-color: #d3d3d4;
  color: #000;
}
.light {
  background-color: #babeb4;
  color: #000;
}
