.detail-container {
  margin-top: 1rem;
}

.detail-upper {
  height: 85%;
}
.detail-upper p {
  font-family: "Times New Roman";
  font-size: 18px;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  text-align: justify;
}
.detail-upper a {
  display: inline;
  text-decoration: none;
}

.link-green {
  color: #117e96;
}
.link-yellow {
  color: #ffbf00;
}