.loading-content {
  height: 8rem;
}

.info-container {
  margin: 1rem 0;
}

.info-content {
  display: grid;
  grid-gap: 0rem 1rem;
  grid-template-areas: "cover description";
  grid-template-columns: 8rem 100fr;
  height: 8rem;
  margin: 0.25rem;
}

.cover {
  grid-area: cover;
}

.cover img {
  height: 8rem;
  margin-right: 1rem;
  width: 8rem;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
}

.description h2 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
}
.description hr {
  margin-top: 0.25rem;
  margin-bottom: 0;
  width: 100%;
}

.description p {
  display: inline;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.dark-pin {
  background-color: #3f3f3f;
}
.dark-pin:hover {
  background-color: #4f4f4f;
}
.dark {
  background-color: #5f5f5f;
}
.dark:hover {
  background-color: #6f6f6f;
}
.light-pin {
  background-color: #d7f0e0;
}
.light-pin:hover {
  background-color: #c7e0d0;
}
.light {
  background-color: #f0eeed;
}
.light:hover {
  background-color: #e0dedd;
}
