.loading-content {
  height:17rem
}
.info-container {
  margin: 1rem 0;
}
.info-content {
  margin: 0 1rem;
  height: 10rem
}

.info-content h1 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
}

.info-content p {
  display: inline;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.description-container {
  display: flex;
}

.description-container img {
  height: 10rem;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 10rem;
}

.dark-pin {
  background-color: #3F3F3F;
}
.dark-pin:hover {
  background-color: #4F4F4F;
}
.dark {
  background-color: #5F5F5F;
}
.dark:hover {
  background-color: #6F6F6F;
}
.light-pin{
  background-color: #D7F0E0;
}
.light-pin:hover{
  background-color: #C7E0D0;
}
.light {
  background-color: #F0EEED;
}
.light:hover {
  background-color: #E0DEDD;
}
