.item {
  align-items: center;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  height: 27px;
  justify-content: center;
  min-width: 25px;
  padding: 5px;
  text-transform: capitalize;
  transition: all 250ms ease-in-out;
  width: 28px;
}
.item-dark {
  border: 1px solid #14293e;
  color: #14293e;
}
.item-light {
  border: 1px solid #14293e;
  color: black;
}
.item-active,
.item-normal:hover {
  transform: translateY(1px);
}
.item-normal:hover {
  box-shadow: 0px 1px 11px 1px rgba(15, 15, 15, 0.2);
}
.item-active {
  box-shadow: 0px 1px 11px 1px rgba(15, 15, 15, 0.2) inset;
}
.item-dark:hover,
.item-dark-active {
  background-color: #14293e;
  border: 1px solid #14293e;
  color: #fff;
}
.item-light:hover,
.item-light-active {
  background-color: #fff;
  border: 1px solid #14293e;
  color: black;
}
.item-disable{
  cursor: default;
  opacity: 0.3;
}
.item-disable-dark{
  border: 1px solid #14293e;
  color: #14293e;
}
.item-disable-light{
  border: 1px solid #14293e;
  color: black;
}