.pagination-container {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 100%;
}
.pagination-item,
.pagination-icon {
  align-items: center;
  border-radius: 16px;
  display: flex;
  height: 32px;
  letter-spacing: 0.01071em;
  line-height: 1.43;
  margin: auto 4px;
  min-width: 32px;
  padding: 0 12px;
  text-align: center;
}
.pagination-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 0 12px;
}

.pagination-item:hover,
.pagination-icon:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-item a {
  text-decoration: none;
}
.selected {
  background-color: rgba(255, 255, 255, 0.5);
}
.pagination-icon {
  padding: 0 5px;
}
.pagination-icon svg {
  font-size: 25px;
}

.disabled {
  pointer-events: none;
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.light .pagination-item a {
  color: rgba(0, 0, 0, 0.87);
}
.light .disabled svg {
  color: rgba(0, 0, 0, 0.3);
}

.dark .pagination-item a {
  color: #D4D4D4;
}

.dark .disabled svg {
  color: rgba(255, 255, 255, 0.3);
}

.dark .selected a{
  color: rgba(0, 0, 0, 0.9);
}