@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Muli-bold";
}

body {
  margin: 0;
  background: black;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 1024px;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  color: white;
}

.page {
  min-height: calc(100vh - 10rem);
  color: red;
}

@media screen and (min-width: 768px) {
  body {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@font-face {
  font-family: "Muli-bold";
  src: url(./shared/fonts/Muli-Bold.ttf) format("truetype");
}
