@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Muli-bold";
}

body {
  margin: 0;
  background: black;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  color: white;
}

@font-face {
  font-family: "Muli-bold";
  src: url(./shared/fonts/Muli-Bold.ttf) format("truetype");
}
