.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background-color: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.light{
  border: 1px solid #ff0055;
  background-color: #ff0055;
  color: white;
}

.dark{
  border: 1px solid #C38FFF;
  background-color: #C38FFF;
  color: black;
  font-weight: bold;
}