.button {
  background: #ededed;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: rgb(47, 47, 47);
  cursor: pointer;
  font-size: 18px;
  height: 2rem;
  min-width: 2.5rem;
  padding: 0 1rem;
  text-transform: none;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #bdbdbd;
  border-color: #ccc;
  color: rgb(115, 115, 115);
  cursor: not-allowed;
}

.button:focus {
  outline: none;
}
