.button {
  background: #ededed;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  font-size: 18px;
  height: 2rem;
  min-width: 2.5rem;
  padding: 0 1rem;
  text-transform: none;
}

.button:focus {
  outline: none;
}
