.input-control {
  margin: 1rem 0;
}

.input-control label,
.input-control input,
.input-control textarea {
  display: block;
}

.input-control label,
.input-control p{
  font-family: 'Open Sans', sans-serif;
}

.input-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-control input,
.input-control textarea {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.15rem 0.25rem;
  width: 100%;
}


.input-control input:focus,
.input-control textarea:focus {
  background-color: #ebebeb;
  border-color: #510077;
  outline: none;
}

.input-invalid label,
.input-invalid p {
  color: red;
}

.input-invalid input{
  border-color: red;
}

.form-invalid input,
.form-invalid textarea {
  background-color: #ffd1d1;
  border-color: red;
}

.light {
  color: black;
}
.dark {
  color: white;
}
