.input-control {
  margin: 1rem 0;
}
.upload-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-preview {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  height: 10rem;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
}
.upload-preview-dark {
  background-color: transparent;
}
.upload-preview-light {
  background-color: #f8f8f8;
}
.upload-preview img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.upload-img {
  font-size: 35px;
}
.upload-drag-element {
  border-radius: 1rem;
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
