.input-control {
  margin: 1rem 0;
}
.upload-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}
.upload-dummy {
  margin-top: 100%;
}
.upload-preview {
  align-items: center;
  border: 1px solid #ccc;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.upload-preview-dark {
  background-color: transparent;
}
.upload-preview-light {
  background-color: #f8f8f8;
}
.upload-preview img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
}
.upload-placeholder {
  font-size: 35px;
  position: absolute;
  color: #000;
}
.upload-drag-element {
  border-radius: 1rem;
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
.upload-edit {
  opacity: 0.7;
}
