/* Foot Container */

.foot-container {
  margin-top: 1rem;
  min-height: 4rem;
  padding: 2% 0;
  text-align: center;
}

.foot-container p {
  color: #fff;
  font-size: 10px;
}

.light {
  background-color: #d65a31;
}
.dark {
  background-color: #1E1E1E;
}
