.map-container {
  height: 3rem;
  padding: 0.5rem;
  width: 3rem;
}

.transparent {
  background-color: transparent;
  opacity: 0.2;
}

.map-1024 {
  height: 4rem;
  width: 4rem;
}
.map-768 {
  height: 3.5rem;
  width: 3.5rem;
}
.map-container img {
  height: 100%;
  user-select: none;
  width: 100%;
}

.map-container:hover {
  opacity: 1;
}
