.quote-container {
    background-color: black;
    color:#E4E4E4;
    overflow: hidden;
    position: relative;
    width: 100%
  }
  .quote-container h1 {
    font-size: 1.5rem;
    left: 50%;
    margin-right: 1rem;
    position: absolute;
    text-align: center;
    top: 15%;
  }
  @media (min-width: 768px) {
    .quote-container h1{
      font-size: 2rem;
      margin-right: 2rem;
      top: 20%;
    }
  }