.root-layout {
  padding-top: 6rem;
}

.light {
  background-color: #868a85;
  color: black;
}
.dark {
  background-color: black;
  color: #E4E4E4;
}

@media (min-width:768px){
  .root-layout {
    padding-top: 10rem;
  }
}
